{# import default settings provided by formula#}
{% import_yaml "postgres/defaults.yaml" as defaults %}
{# merge default settings with pillar-provided #}
{% set aerospike = salt['pillar.get']('aerospike', default=defaults.aerospike, merge=True) %}
{# NOTE: This set depends on local_interfaces custom grain which generates dict with list of local interfaces and ther ip addresses #}
{# TODO: this evaluation is creepy, think about more efficient way #}
{% set local_ip = salt['grains.get']('local_interfaces')[0].values().0 %}
