{# import default settings provided by formula#}
{% import_yaml "postgres/defaults.yaml" as defaults %}
{# merge default settings with pillar-provided #}
{% set aerospike = salt['pillar.get']('aerospike', default=defaults.aerospike, merge=True) %}
