{% from "aerospike/map.jinja" import aerospike with context %}

service {
  user root
  group root
  paxos-single-replica-limit 1 # Number of nodes where the replica count is automatically reduced to 1.
  pidfile /var/run/aerospike/asd.pid
  service-threads 8
  transaction-queues 8
  transaction-threads-per-queue 8
  proto-fd-max 15000
}

logging {
  # Log file must be an absolute path.
  file /var/log/aerospike/aerospike.log {
    context any warning
  }
  # Send log messages to stdout
  #console {
  #       context any info
  #}
}

network {
  service {
    address any
    port 3000
  }

  heartbeat {
    mode multicast
    address {{ aerospike.multicast_address }}
    port 9918
    interval 250
    timeout 25
  }

  fabric {
    port 3001
  }

  info {
    port 3003
  }
}

namespace {{ aerospike.namespace }} {
  replication-factor {{ aerospike.replication_factor }}
  memory-size {{ aerospike.memory_size }}
  default-ttl {{ aerospike.default_ttl }}
  max-ttl {{ aerospike.max_ttl }}
  high-water-disk-pct {{ aerospike.high_water_disk_pct }}
  high-water-memory-pct {{ aerospike.high_water_memory_pct }}
  evict-tenths-pct {{ aerospike.evict_tenths_pct }}

  storage-engine {{ aerospike.storage_engine }} {
{% for dev in aerospike.disks %}    device {{ disk }}
{% endfor %}
    write-block-size {{ aerospike.write_block_size }}
    scheduler-mode noop
  }
}
